body {
    background-color: #f3f8ff;
    font-family: "Lato", Arial, sans-serif;
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: #161e18;
}
  
.site-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 24rem;
    margin-bottom: 3rem;
}

.primary-heading,
    .sub-heading {
        color: #464646;
        margin-bottom: 1.5rem;
}

.primary-heading {
    font-family: "Mansalva", Arial, sans-serif;
    font-size: 4.8rem;
}

.secondary-heading {
    font-size: 2.5rem;
}

.sub-heading {
    font-size: 1.5rem;
}

.text-input {
    border: 1px solid #a0a0a0;
    border-radius: 20rem;
    width: 60%;
}

.count {
    color: #7c80ee;
    font-size: 1.5rem;
    font-weight: 800;
    margin: 0 1.5rem;
}

.question-heading {
    font-size: 1.5rem;
    font-weight: 800;
}

.btn-purple {
    background-color: #7c80ee;
    border: none;
    border-radius: 20rem;
    box-shadow: 3px 3px 3px #a0a0a0;
    color: #ffffff;
    font-weight: 800;
    margin: 1rem;
    text-transform: uppercase;
    width: 20rem;
}

#submit-survey {
    width: 100%;
    margin: 2rem 0 4rem;
}

a {
    color: #7c80ee;
}

.divider {
    color: #7c80ee;
    margin: 0 1rem;
}

.copyright {
    font-size: 0.7rem;
}